<body>
    <section class="about-me">
        <div class="container bg-black" id="grid">
            <div class="skills">
                <div class="skills-title"> мои навыки</div>
                <div class="skills-subtitle">В своих проектах применяю следующие технологии</div>
            </div>

            <div class="skills-items p-stycky">
                <img src="../../img/skills/gallery-1.webp"  alt="">
                <img src="../../img/skills/gallery-2.webp"  alt="">
                <img src="../../img/skills/gallery-3.webp" alt="">
                <img src="../../img/skills/gallery-4.webp"  alt="">
                <img src="../../img/skills/gallery-5.webp"  alt="">
                <img src="../../img/skills/gallery-6.webp"  alt="">
                <img src="../../img/skills/gallery-7.1.webp"  alt="">
                <img src="../../img/skills/gallery-8.1.webp"  alt="">
                <img src="../../img/skills/gallery-9.1.webp" alt="">
            </div>
        </div>
    </section>
</body>