<header class="header" id="header">
    <div class="container">
        <nav class="menu">
            <ul class="menu-items">
                <li class="menu-item"><a href="#" class="menu-link">главная</a></li>
                <li class="menu-item"><a href="#" class="menu-link">обо мне</a></li>
                <li class="menu-item"><a href="#" class="menu-link">портфолио</a></li>
                <li class="menu-item"><a href="#" class="menu-link">блог</a></li>
                <li class="menu-item"><a href="#" class="menu-link">seo-оптимизация</a></li>
                <li class="menu-item"><a href="#" class="menu-link">заказать сайт</a></li>
            </ul>

            <div class="menu-contact">
                <div class="menu-contact menu-contact__ru">
                    <a href="tel:+79966139019">+7(996)613-90-19</a>
                </div>
            </div>
        </nav>
        <!-- бургер меню -->
        <div class="header-btn">
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="menu" id="menu">
            <nav>
               <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Обо мне</a></li>
                <li><a href="#">Портфолио</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">SEO-оптимизация</a></li>
                <li><a href="#">Заказать сайт</a></li>
               </ul>
            </nav>
        </div>

        <div class="menu-contact" id="contact">
            <div class="menu-contact menu-contact__ru">
                <a href="tel:+79966139019">+7(996)613-90-19</a>
            </div>
        </div>


       


        <div class="header-info">
            <h1 class="header-title">Заказав Сайт</h1>
            <p class="header-subtitle">Вы получаете следующие преимущества:</p>
            <p class="header-text">Охватите большую аудиторию покупателей,</p>
            <p class="header-text">Увеличите Ваш доход и конверсию,</p>
            <p class="header-text">Масштабируете бизнес,</p>
            <p class="header-text">Станете более конкурентноспособными,</p>
            <p class="header-text">Ваша жизнь заиграет новыми красками.</p>
            <p class="header-text header-text-bill">„Если Вашего бизнеса нет в Интернете, то Вас нет в бизнесе!“ <br>
                <span class="lozung">- Билл Гейтс американский предприниматель и общественный
                    деятель.</span>
            </p>
        </div>
    </div>
</header>




